<!DOCTYPE html>
<html>
  <head>
    <title>Story Time!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <p>Hi there @Model.GetName(), you were just @Model.GetVerb() a @Model.GetAnimal(). It was just like @Model.GetVerb() a @Model.GetNoun(). Now you are craving a @Model.GetAdjective() @Model.GetFood()!</p>
  </body>
</html>
